# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal

# Virtual environment
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# IDE ir editoriai
.vscode/
.idea/

# Statiniai ir media (generuojami)
staticfiles/
media/

# Sistemos failai
.DS_Store
Thumbs.db

# Testų/įrankių
.coverage
*.log
*.pot
*.mo

# mypy / pytest
.mypy_cache/
.pytest_cache/
