# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd

# DB
*.sqlite3
db.sqlite3

# Virtual env
.venv/
venv/

# Django collected static
staticfiles/
media/

# Tiekėjo/admin statika, jei ją nukopijavai į projektą
static/admin/
static/django_extensions/

# OS / IDE
.DS_Store
.idea/
.vscode/

# macOS šiukšlės
.DS_Store
._*
.AppleDouble
.LSOverride
